.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainLogo {
  width: 130px;
  margin-right: 50px;
}

.navbar {
  color : white;
}

.headerWallpaper {
  width: inherit;
}

.navbar-nav {
  transition: 1s;
}

.productCard {
  cursor: pointer;
  background-color: grey;
  width: 17vmin;
  height: 17vmin;
  margin: 0.15vmin;
  display: inline-block;
  transition: 0.5s;

}

.productCard.active {
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
}

.cardImg {
  width:inherit;
  transition: 0.5s;
}

.cardImg.active {
  display: none;
  transition: 0.5s;
}
